<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         IgnorableNamespaces="uap mp">

  <Identity Name="dfb798de-df99-4f25-97a2-0f820b3e6c33"
            Publisher="CN=emoacht"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="dfb798de-df99-4f25-97a2-0f820b3e6c33" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ComApp.Uwp2</DisplayName>
    <PublisherDisplayName>emoacht</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ComApp.Uwp2.App">
      <uap:VisualElements DisplayName="ComApp.Uwp2"
                          Square150x150Logo="Assets\Square150x150Logo.png"
                          Square44x44Logo="Assets\Square44x44Logo.png"
                          Description="ComApp.Uwp2"
                          BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="ea-pathfinder">
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="InProcessAppService"/>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>