<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComApp.Wpf2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ComApp.Wpf2.Properties.Settings>
            <setting name="IdentityName" serializeAs="String">
                <value>dfb798de-df99-4f25-97a2-0f820b3e6c33</value>
            </setting>
            <setting name="ProtocolName" serializeAs="String">
                <value>ea-pathfinder</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>InProcessAppService</value>
            </setting>
        </ComApp.Wpf2.Properties.Settings>
    </applicationSettings>
</configuration>